.h1{
    color: red;
    text-align: center;
}

.a{
    
    color: blue;
    text-align: center;
}

.h2{
  color:purple;
  text-align: center;
  list-style: none;
}

.bg{
  background-color: turquoise;
}